VITE_SUPABASE_URL=https://vyfdyzheokosikrxgepv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5ZmR5emhlb2tvc2lrcnhnZXB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MTQwMzksImV4cCI6MjA5NzI5MDAzOX0.9mmi62ThbHkwEFoisUgIdYiLF-K5RNDkdvMuRdvkJKI

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dhqatpc8w
VITE_CLOUDINARY_UPLOAD_PRESET=timetick

